@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  }
}

@layer components{
  .modal-btn{
    @apply bg-green-600 hover:bg-green-700 text-white rounded-full
  }
  .nav-item{
    @apply text-base lg:font-semibold leading-none lg:leading-normal text-gray-200 hover:text-white capitalize
  }
  .dashboard-element{
    @apply bg-white shadow-lg rounded-sm
  }
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*::before, *::after {
  box-sizing: border-box;
} 

mark{
  background-color: rgba(0, 0, 0, 0.11);
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
}